.ol-map {
    min-width: 600px;
    min-height: 500px;
    margin: 50px;
    height: 500px;
    width: 100%;
}
.ol-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 3px;
    width: 25px;
    margin: 10px;
}
.ol-control button{
    color: rgba(0, 0, 0, 0.4);
}
.ol-full-screen {
    top: .5em;
    right: .5em;
}
.ol-marker{
    height: 42px !important;
}
/* popup style */
.ol-popup {
    max-width:300px;
    min-width:100px;
    min-height:1em;
}
/* Image on popup */
.ol-popup img {
    float: left;
    margin: 0 0.5em 0 0;
    max-width: 100px;
    max-height: 100px;
}
/* no image content tooltips */
.ol-popup.tooltips img {
    display:none;
}
/* Custom red style (tips) */
.ol-popup.red > div {
    background-color: red;
}
.ol-popup.red .anchor {
    color: red;
}

/* Custom orange style (tips) */
.ol-popup.tips.orange > div {
    border-color:#da7;
    background-color:#eca;
}
.ol-popup.tips.orange .anchor {
    color: #da7;
}

/* orange style (default) */
.ol-popup.default.orange > div {
    border:4px solid #f96;
}
.ol-popup.default.orange .anchor {
    margin: -10px 22px;
}
.ol-popup.default.orange .anchor::after {
    margin: 5px -11px; 
}
.ol-popup-middle.default.orange .anchor::after {
    margin: -10.5px -27px /*border:4 +2 px */; 
}
.ol-popup.default.orange .anchor {
    color: #f96;
}
.ol-popup.default.orange .closeBox {
    background-color: rgba(255, 153, 102, 0.7);
}
.ol-popup.default.orange .closeBox:hover {
    background-color: rgba(255, 153, 102, 1);
}
.ol-popup i {
    color: #666;
}